<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-panduanwangluo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>判断网络可用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7DBA15A1A78E2E30047571F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7DBA1731A78E2E30047571F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7F2D73B1A79DB8200FC0C25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7F2D7531A79DB8200FC0C25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7F2D7651A79DBA300FC0C25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7F2D77D1A79DBA300FC0C25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
